/*make the circles move around randomly*/

@keyframes pulse {
    0% {
      transform: scale(1.5);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  
  @keyframes rotationClockwise {
    50% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes rotationCounterclockwise {
    50% {
      transform: rotate(-180deg);
    }
  }
  
  @keyframes randomMove {
    0% {
      top: 5%;
      left: 5%;
    }
    20% {
      top: 10%;
      left: 80%;
    }
    40% {
      top: 70%;
      left: 50%;
    }
    60% {
      top: 40%;
      left: 20%;
    }
    80% {
      top: 80%;
      left: 90%;
    }
    100% {
      top: 5%;
      left: 5%;
    }
  }
  
  /* Apply circular shape */
  #one, #two, #three, #four, #five, #six, #seven, #eight {
    position: absolute;
    height: 15vw;  /* Equal height */
    width: 15vw;   /* Equal width */
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;  /* Makes the divs circular */
  }
  
  /* Adding colors and random movement */
  #one {
    background: rgba(0, 0, 255, 0.2);  /* Light blue */
    animation: pulse 6s infinite, rotationClockwise 6s infinite, randomMove 12s infinite ease-in-out;
  }
  
  #two {
    background: rgba(0, 255, 0, 0.2);  /* Light green */
    animation: pulse 8s infinite, rotationCounterclockwise 8s infinite, randomMove 14s infinite ease-in-out;
  }
  
  #three {
    background: rgba(255, 0, 0, 0.2);  /* Light red */
    animation: pulse 7s infinite, rotationClockwise 7s infinite, randomMove 16s infinite ease-in-out;
  }
  
  #four {
    background: rgba(255, 255, 0, 0.2);  /* Light yellow */
    animation: pulse 9s infinite, rotationCounterclockwise 9s infinite, randomMove 18s infinite ease-in-out;
  }
  
  #five {
    background: rgba(0, 255, 255, 0.2);  /* Light cyan */
    animation: pulse 6s infinite, rotationClockwise 6s infinite, randomMove 20s infinite ease-in-out;
  }
  
  #six {
    background: rgba(255, 0, 255, 0.2);  /* Light magenta */
    animation: pulse 8s infinite, rotationCounterclockwise 8s infinite, randomMove 22s infinite ease-in-out;
  }
  
  #seven {
    background: rgba(128, 0, 128, 0.2);  /* Light purple */
    animation: pulse 7s infinite, rotationClockwise 7s infinite, randomMove 24s infinite ease-in-out;
  }
  
  #eight {
    background: rgba(255, 165, 0, 0.2);  /* Light orange */
    animation: pulse 9s infinite, rotationCounterclockwise 9s infinite, randomMove 26s infinite ease-in-out;
  }
  