/*make the divs colorful again*/
@keyframes pulse {
    0% {
      transform: scale(1.5);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  
  @keyframes rotationClockwise {
    50% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes rotationCounterclockwise {
    50% {
      transform: rotate(-180deg);
    }
  }
  
  /* Apply circular shape */
  #one, #two, #three, #four, #five, #six, #seven, #eight {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 30vw;  /* Equal height */
    width: 30vw;   /* Equal width */
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;  /* Makes the divs circular */
  }
  
  /* Adding colors */
  #one {
    background: rgba(0, 0, 255, 0.2);  /* Light blue */
    animation: pulse 6s infinite, rotationClockwise 6s infinite;
  }
  
  #two {
    background: rgba(0, 255, 0, 0.2);  /* Light green */
    animation: pulse 8s infinite, rotationCounterclockwise 8s infinite;
  }
  
  #three {
    background: rgba(255, 0, 0, 0.2);  /* Light red */
    animation: pulse 7s infinite, rotationClockwise 7s infinite;
  }
  
  #four {
    background: rgba(255, 255, 0, 0.2);  /* Light yellow */
    animation: pulse 9s infinite, rotationCounterclockwise 9s infinite;
  }
  
  #five {
    background: rgba(0, 255, 255, 0.2);  /* Light cyan */
    animation: pulse 6s infinite, rotationClockwise 6s infinite;
  }
  
  #six {
    background: rgba(255, 0, 255, 0.2);  /* Light magenta */
    animation: pulse 8s infinite, rotationCounterclockwise 8s infinite;
  }
  
  #seven {
    background: rgba(128, 0, 128, 0.2);  /* Light purple */
    animation: pulse 7s infinite, rotationClockwise 7s infinite;
  }
  
  #eight {
    background: rgba(255, 165, 0, 0.2);  /* Light orange */
    animation: pulse 9s infinite, rotationCounterclockwise 9s infinite;
  }
  